*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #ffefff;
    min-height: 100vh;
    border: 8px solid black;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.top_section{
    margin-top: 100px;
 display: flex;
 justify-content: space-between;
 align-items: flex-end;
}
.top_section h1{
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}
.top_section h4{
    text-align: end;
    font-size: 30px;
}
.image{
    border-radius: 50%;
    overflow: hidden;
}
.image,img{
    width: 300px;
    height: 320px;
    position: relative;
}
.about_section{
    margin-top: 50px;
}
.about_section h2{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
}
.about_section ul li{
    margin-bottom: 10px;
    font-size: 20px;
}
.bapu{
    margin-top: 50px;
}
.bapu h2{
    font-size:50px ;
    font-weight: 400;
    margin-bottom:20px ;
}
.bapu ul li{
    margin-bottom:10px ;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.end{
    text-align: center;
    margin-top: 30px;
}
.end p {
    font-size: 20px;
}
.end p a{
    text-decoration: none;
}









 